@import url("https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js");


 .opacity{
  opacity: 0.6;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opc{
    opacity: 1.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}
