<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <h1 style="color: white; font-size: 25px;">CloudJournee</h1>
                    </span>
                    <h2 style="font-size: 18px; padding-left: 40px; margin-top: 0px"><u><span class="text-navy" style="font-family: fantasy">Cloud</span><span style="color: white">Optimization</span></u></h2>
                </div>
                <div class="logo-element">
                    CJ
                </div>
            </li>
            <li class="special_link">
                <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-list-alt"></i> <span class="nav-label">Summary</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-shield"></i> <span class="nav-label">Security</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Cost</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-list-alt"></i> <span class="nav-label">Reports</span></a>
            </li>
            <li>
                <a href="{% url 'change_moniter' %}"><i class="fa fa-refresh"></i> <span class="nav-label">Change Monitor</span></a>
            </li>
        </ul>
    </div>
</nav>
